.typeahead {
  input {
    box-sizing: border-box;
    width: 100%;
    &:focus {
      border: solid 2px var(--pacific);
    }
  }
  .m-btn-inside-input {
    .a-btn {
      position: absolute;
      right: 1em;
      top: ~'calc(50% - 8px)';
    }
    .cf-icon-svg {
      padding-right: @gutter-minimum * 0.8;
    }
  }
  &-selector {
    position: relative;

    // z-index: 99;

    ul {
      padding-left: 0;
      border: solid 2px var(--pacific);
      border-top: 0;

      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      li.footer {
        padding: @gutter-normal;
        border-top: solid 1px var(--gray-40);
        margin: 0;
        background-color: var(--pacific-20);
        cursor: default;
        font-size: @size-vi;
        font-style: italic;
        list-style-type: none;
        text-align: center;
      }
    }

    input {
      &:extend(.a-text-input);
      &:focus {
        &:extend(.a-text-input:focus);
      }
      padding-left: 1.78571429em !important;
      padding-bottom: 0.28em !important;
    }
  }

  .a-btn.a-btn__link {
    color: var(--gray-80);
  }

  .rbt-menu.dropdown-menu.show {
    z-index: 100;
    overflow: visible !important;
  }

  .dropdown-item.disabled {
    color: black;
  }

  .rbt-input-hint {
    color: transparent !important;
  }

  .dropdown-item.rbt-menu-pagination-option {
    display: block;
    position: relative;
    padding: @gutter-normal;
    border-top: solid 1px var(--gray-40);
    margin: 0;
    background-color: var(--pacific-20);
    cursor: default;
    font-size: @size-vi;
    font-style: italic;
    list-style-type: none;
    text-align: center;
    width: auto;
  }

  li.typeahead-option {
    padding: @gutter-normal;
    border-top: solid 1px var(--gray-40);
    margin: 0;
    background-color: var(--white);
    cursor: default;
    list-style-type: none;
    &:hover,
    &.selected {
      border-top: solid 2px var(--pacific);
      border-bottom: solid 2px var(--pacific);
      background-color: var(--gray-10);
    }
  }
}

.input-contains-label_before {
  position: absolute;
  left: 0.85714286em;
  top: 0.5em;
  cursor: pointer;
  font-size: 0.875em;
  ~ input[type='text'] {
    padding-left: 1.78571429em;
    padding-bottom: 0.28em;
  }
  &__search .cf-icon-svg {
    position: relative;
    top: 2px;
  }
  .cf-icon-svg {
    z-index: 99;
  }
}
