.warning {
  &.m-notification {
    margin: 10px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 10px;
    cursor: pointer;
    svg {
      fill: var(--gray);
    }
  }
}
