@use '@cfpb/cfpb-design-system/src/abstracts/index' as *;
@use 'css/base' as *;

.filter-panel {
  padding: $gutter-normal;
  border-top: 1px solid var(--gray-40);
  border-right: 1px solid var(--gray-40);
  background: var(--gray-5);

  @media screen and (min-width: $layout-breakpoint-desktop-min) {
    padding: $grid-gutter-width;
  }

  @media screen and (max-width: $layout-breakpoint-phone-max) {
    border-right: none;
  }

  .a-form-alert {
    margin-top: $gutter-normal;
  }

  hr {
    margin: 0;
    color: var(--gray-40);
  }

  .single-checkbox {
    margin: $gutter-normal;
  }
}
