@use '../TabbedNavigation';

.trend-depth-toggle {
  background: var(--gray-10);
  text-align: center;

  button {
    margin: 5px;
    color: var(--pacific-dark);
  }

  span {
    font-weight: bold;
    margin-right: 5px;
    &.plus::before {
      content: '+';
    }

    &.minus::before {
      content: '-';
    }
  }
}
