@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use 'css/base' as *;

.list-panel {
  // The "No results were found for your search" heading.
  h2 {
    margin: 15px;
  }

  .cards-panel {
    padding: $grid-gutter-width;
    margin: 0;

    @media screen and (max-width: $layout-breakpoint-phone-max) {
      padding: $gutter-normal;
    }
  }

  .m-pagination {
    .a-btn[disabled],
    .m-pagination__label,
    .m-pagination__btn-submit {
      color: var(--gray);
    }
  }
}
