@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/utilities' as *;
@use 'css/base' as *;

.export-modal {
  .body {
    .a-btn__icon {
      padding-right: $gutter-minimum;
    }

    .export-url-copied {
      border: solid 1px var(--green);

      background-color: var(--green-20);
      color: var(--black);

      .cf-icon-svg {
        fill: var(--green);
      }
    }

    .instructions {
      margin-bottom: $gutter-normal;
    }

    .group {
      margin-bottom: $gutter-normal;

      .group-title {
        margin: $gutter-normal 0;
        font-size: $size-iv;
        font-weight: bold;
      }

      .m-form-field {
        margin-bottom: $gutter-normal;

        .multiline-label {
          display: inline-block;
        }
      }

      .export-filter-alert {
        margin-top: $gutter-normal;
        margin-bottom: $gutter-normal;
      }
    }

    .heres-the-url {
      margin-bottom: $gutter-normal;
    }
  }
}
