@import (less) "../base.less";

.typeahead {
  padding-bottom: @gutter-normal;

  input {
    box-sizing: border-box;
    width: 100%;

    &:focus {
      border: solid 2px @pacific;
    }
  }

  .m-btn-inside-input .a-btn {
    position: absolute;
    right: 1em;
    top:  ~"calc(50% - 8px)";

    .cf-icon {
      padding-right: @gutter-minimum * .8;
    }

  }

  .typeahead-selector {
    position: relative;

    z-index: 99;

    ul {
      padding-left: 0;
      border: solid 2px @pacific;
      border-top: 0;

      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      li.footer {
        padding: @gutter-normal;
        border-top: solid 1px @gray-40;
        margin: 0;

        background-color: @pacific-20;
        cursor: default;
        font-size: @size-vi;
        font-style: italic;
        list-style-type: none;
        text-align: center;
      }
    }
  }

  li.typeahead-option {
    padding: @gutter-normal;
    border-top: solid 1px @gray-40;
    margin: 0;

    background-color: @white;
    cursor: default;
    list-style-type: none;

    &:hover {
      border-top: solid 2px @pacific;
      border-bottom: solid 2px @pacific;

      background-color: @gray-10;
    }

    &.selected {
      border-top: solid 2px @pacific;
      border-bottom: solid 2px @pacific;

      background-color: @gray-10;
    }
  }
}


.input-contains-label_before~input[type="text"] {
    padding-left: 1.78571429em;
}

.input-contains-label_before {
    position: absolute;
    left: .85714286em;
    top: .5em;
    cursor: pointer;
    font-size: .875em;
}

.input-contains-label_before__search:before {
  font-family: 'CFPB Minicons';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e604";
}


