@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use 'css/base' as *;

.complaint-card {
  padding: $grid-gutter-width $grid-gutter-width $grid-gutter-width
    $gutter-normal;
  border-bottom: 1px solid var(--gray-40);
  margin: 0;
  list-style-type: none;

  &:last-of-type {
    border: 0;
  }

  &__body {
    display: grid;
    grid-template-columns: 260px minmax(0, 1fr);
    column-gap: $grid-gutter-width;
    align-items: start;

    @media screen and (max-width: $bp-sm-max) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @media screen and (max-width: $bp-xs-max) {
      grid-template-columns: minmax(0, 1fr);
      row-gap: $grid-gutter-width;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: $grid-gutter-width;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: $gutter-normal;
    flex-wrap: wrap;
  }

  &__meta-item {
    margin: 0;
  }

  &__meta-label {
    display: inline;
    margin: 0;
    font-weight: 600;
  }

  &__field {
    h4 {
      margin: 0 0 $gutter-minimum;
    }
  }

  &__field-value {
    margin: 0;
    font-weight: normal;
  }

  &__detail-link {
    border-bottom-width: 1px;
  }

  em {
    background-color: var(--teal-20);
    font-style: normal;
  }
}
