@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use 'css/base' as *;

li.card-container {
  padding: $grid-gutter-width $grid-gutter-width $grid-gutter-width
    $gutter-normal;
  border-bottom: 1px solid var(--gray-40);
  margin: 0;
  list-style-type: none;

  &:last-of-type {
    border: 0;
  }

  .card {
    display: grid;
    grid-template-columns: 260px minmax(0, 1fr);
    column-gap: $grid-gutter-width;
    align-items: start;

    @media screen and (max-width: $bp-sm-max) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @media screen and (max-width: $bp-xs-max) {
      grid-template-columns: minmax(0, 1fr);
      row-gap: $grid-gutter-width;
    }
  }

  .card-field {
    h4 {
      margin: 0 0 $gutter-minimum;
    }
  }

  .card-field + .card-field {
    margin-top: $grid-gutter-width;
  }

  .card-field__value {
    margin: 0;
    font-weight: normal;
  }

  .to-detail {
    border-bottom-width: 1px;
  }

  em {
    background-color: var(--teal-20);
    font-style: normal;
  }
}
