.print {
  .content__main {
    display: block;
    width: 100% !important;
  }

  .o-header {
    min-height: initial;
  }

  .m-global-header-cta,
  .content__wrapper {
    border: none !important;
  }

  .pill-panel li {
    margin: 3px;
  }

  .m-global-eyebrow,
  .m-global-header-cta,
  .action-bar,
  .search-panel h3,
  .a-tag-filter .cf-icon-svg,
  .pill-panel__clear,
  .search-bar,
  .content__hero,
  .content__sidebar,
  .filter-panel hr,
  .refine-bar,
  .m-pagination {
    display: none !important;
  }

  .search-panel {
    width: 100%;
  }
}

@media print {
  .m-global-eyebrow,
  .m-global-header-cta,
  .action-bar,
  .search-panel h3,
  .a-tag-filter .cf-icon-svg,
  .pill-panel__clear,
  .search-bar,
  .content__hero,
  .content__sidebar,
  .filter-panel hr,
  .refine-bar,
  .m-pagination,
  .warning-notification,
  .a-micro-copy,
  .filter-button,
  footer,
  .filter-panel-toggle__button {
    display: none !important;
  }
}
