@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts/index' as *;
@use 'css/base';

.tabbed-navigation {
  margin-top: 30px;
  border-bottom: 1px solid var(--gray-20);
  section {
    padding-left: 10px;
    .tab {
      margin: 0;
      padding: 4px 30px 8px;

      font-size: math.div(19px, $base-font-size-px) + em;
      font-weight: 500;

      .cf-icon-svg {
        margin-right: 5px;
        margin-top: 4px;
        font-size: math.div(13px,  $base-font-size-px) + em;
      }

      &:not(.active) {
        color: var(--pacific-dark);
        background: var(--gray-5);
        border: 1px solid var(--gray-20);
        border-bottom: none;

        &:hover {
          color: var(--navy-dark);
        }

        &:focus {
          color: var(--navy-dark);
        }

        &::after {
          content: '';
          border-top: solid 1px;
          display: block;
        }
      }
      &.active {
        padding-top: 8px;
        border: 1px solid var(--gray-40);
        background: var(--white);
        pointer-events: none;
        position: relative;

        &::after {
          content: '';
          display: block;
          width: calc(100% - 2px);
          outline: 1px solid var(--white);
          position: absolute;
          bottom: -1px;
          left: 1px;
        }
      }
    }
  }
}
