@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.download-complaint-data {
  margin: 0 0 $grid-gutter-width;

  p {
    margin-bottom: math.div($grid-gutter-width, 2);
  }

  > .a-form-alert {
    margin-top: $grid-gutter-width;
  }
}
