.advanced-tips {
  box-sizing: border-box;
  background-color: var(--gray-20);

  // override parent padding
  margin: 15px -15px;
  padding: 15px;

  .tip {
    padding: 15px 0;
    input {
      box-sizing: border-box;
      color: var(--gray);
      display: inline-block;
      margin-right: 1%;
    }
    .example-input {
      box-sizing: border-box;
      color: var(--gray);
      width: 100%;
    }
    .tip-description {
      padding-top: 10px;

      p {
        color: var(--black);
      }
    }
  }
  .footer {
    border-top: dashed 2px var(--gray-70);
  }
}
