@use 'css/base' as *;
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.date-filter {
  // Keep 15px between expandable header divider and the From/To fields.
  &.o-expandable .o-expandable__content::before {
    padding-top: $gutter-normal;
  }

  ul.date-inputs {
    margin: 0;

    // Aggregation list rules add borders between <li>s; From/To should not.
    > li + li {
      border-top: none;
    }

    li {
      display: inline-block;
      width: calc(50% - 8px); // Half $gutter-normal

      list-style: none;

      &:first-of-type {
        margin-right: $gutter-normal;
      }
      input {
        width: 100%;
      }
    }
  }

  .date-ranges {
    margin-top: $gutter-normal;

    p {
      margin: 0 0 10px;
    }
  }
}
