@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use 'css/base' as *;

.content__hero {
  padding-bottom: math.div(30px, $base-font-size-px) + rem;

  p {
    max-width: 670px;
  }

  ul {
    padding-top: $gutter-minimum;
  }

  li {
    padding-bottom: 0;
    border-bottom: 0;

    button,
    a {
      font-size: 16px;
      display: inline-block;
    }

    &.m-list__item {
      margin-right: 0;
    }

    &::after {
      margin-left: $gutter-narrow;
      margin-right: $gutter-narrow;

      content: '|';
    }

    &:last-of-type {
      &::after {
        margin: 0;

        content: '';
      }
    }
  }

  .content-header {
    display: inline-flex;
  }
  h4.content-header {
    box-sizing: border-box;
    margin-left: $gutter-narrow;
    margin-top: 0;
    color: var(--gray-dark);
    text-transform: uppercase;
    vertical-align: text-bottom;
  }
}
