@use 'css/base' as *;

.o-expandable {
  .o-expandable__label {
    max-width: calc(100% - 55px);
    box-sizing: border-box;
    padding-right: $gutter-minimum;
  }

  p {
    color: var(--gray-dark);
    font-size: 16px;
  }
}
