rules:
  camelcase:
    - 0
    -
      properties: never
  global-require: 0
  max-len: 0
  no-console: 0
  no-inline-comments: 0
  no-process-env: 0
  no-sync: 0
  no-undefined: 0
  require-jsdoc: 0
