@import (less) '../select.less';

.refine-bar {
  section {
    margin: @grid_gutter-width / 3 0 @grid_gutter-width / 3 @grid_gutter-width /
      2;
    p {
      font-size: @size-vi;
      font-weight: 600;
      color: var(--gray);
    }
    button {
      &.selected {
        background-color: var(--pacific-80);
        font-weight: 600;
      }
      &:not(.selected) {
        background-color: var(--pacific-40);
      }
    }
    &:not(.filter-panel-toggle) {
      button {
        color: var(--black);
      }
    }

    &.cf-select {
      border: none;
      select {
        background-color: var(--white);
        color: var(--black);
        border: 1px solid var(--gray-40);
      }
      &::after {
        background-color: var(--white);
        transform: translate(-5px, 0);
      }
    }
  }

  .separator {
    @media @desktop, @tablet-lg, @phone {
      display: none;
    }
  }

  // Per Capita and Narratives buttons in the refine bar.
  button {
    // Only used to hide "population" on per capita refine buttons.
    @media @phone, @tablet-sm {
      > span {
        display: none;
      }
    }

    &.disabled.a-btn__disabled {
      background-color: var(--gray-10);
    }
  }
}
