@use 'css/base' as *;
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;

.separator {
  border-left: solid 1px var(--gray-40);
  margin-top: 35px;
  margin-left: 10px;
  height: 38px;

  @media screen and (min-width: $bp-lg-min) {
    display: none;
  }

  @media screen and (min-width: $bp-med-min) and (max-width: $bp-med-max) {
    display: none;
  }

  @media screen and (max-width: $bp-xs-max){
    display: none;
  }
}
