// Import Design System Components.
@import (less) '@cfpb/cfpb-core/src/cfpb-core.less';
@import (less) '@cfpb/cfpb-atomic-component/src/cfpb-atomic-component.less';
@import (less) '@cfpb/cfpb-icons/src/cfpb-icons.less';
@import (less) '@cfpb/cfpb-buttons/src/cfpb-buttons.less';
@import (less) '@cfpb/cfpb-forms/src/cfpb-forms.less';
@import (less) '@cfpb/cfpb-grid/src/cfpb-grid.less';
@import (less) '@cfpb/cfpb-layout/src/cfpb-layout.less';
@import (less) '@cfpb/cfpb-typography/src/cfpb-typography.less';
@import (less) '@cfpb/cfpb-notifications/src/cfpb-notifications.less';
@import (less) '@cfpb/cfpb-pagination/src/cfpb-pagination.less';
@import (less) '@cfpb/cfpb-expandables/src/cfpb-expandables.less';
@import (less) '@cfpb/cfpb-tables/src/cfpb-tables.less';
@import (less) '../components/Print/print.less';

// Icon font path
@cf-icon-path: '../css/fonts';

// Webfont variables
// This is the path for self-hosted fonts.
@cf-fonts-path: '/static/fonts';

// Override for Design System.
// Fix for spacing in mega menu headings.
.o-mega-menu_group-heading,
.o-mega-menu_content-2-list__featured ul {
  margin-bottom: 1.875em;
}

// Fix for erroneously added border below external link in mega menu.
.o-mega-menu_content-link .a-link_text {
  border-bottom-width: 0;
}

// Fix for incorrect header width.
.o-header .wrapper,
.o-footer .wrapper {
  max-width: 1170px !important;
}

// App-wide definitions

.layout-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.layout-column {
  display: flex;
  flex-direction: column;
}

.flex-fixed {
  flex: none;
}

.flex-all {
  flex: 1 0 auto;
}

.body-copy {
  font-size: 16px;
}

.cols {
  .grid_nested-col-group();
}

.col::before {
  display: block;

  width: 100%;
  content: '';
}

.col-1 {
  .grid_column(1);
}

.col-2 {
  .grid_column(2);
}

.col-3 {
  .grid_column(3);
}

.col-4 {
  .grid_column(4);
}

.col-6 {
  .grid_column(6);
}

.col-8 {
  .grid_column(8);
}

.col-9 {
  .grid_column(9);
}

.col-10 {
  .grid_column(10);
}

.col-12 {
  .grid_column(12);
}

// Overrides

.content__1-3 {
  margin-bottom: @grid_gutter-width * 2;

  .content_wrapper {
    padding-left: 0;
    padding-right: 0;
    border: 1px solid var(--gray-40);
    border-right: none;
    max-width: initial;

    @media @phone {
      border: none;
    }
  }

  .content_sidebar {
    width: 420px;
    padding: 0;
    border: 0;
    margin: 0;
  }

  .content_main {
    width: ~'calc(100% - 420px)';
    padding: 0;
    border: 0;

    &::after {
      border-left: 0;
    }
  }
}

// gutters
.wrapper__match-content {
  @media @tablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media @desktop {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media @superwide {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media @tablet-lg {
  .content__1-3 {
    .content_sidebar {
      width: 305px;
    }

    .content_main {
      width: ~'calc(100% - 305px)';
    }
  }
}

@media @tablet-sm {
  .content__1-3 {
    .content_main {
      width: 100%;
    }
    .content_sidebar {
      &.map,
      &.list {
        width: 100%;
      }
    }
  }
  .filter-button {
    display: block;
    margin: 20px 10px;
    button {
      width: 100%;
    }
  }
}

@media @phone {
  .filter-button {
    display: block;
    margin: 20px 0;
    button {
      width: 100%;
    }
  }
  .content__1-3 {
    margin-bottom: 0;
    .content {
      &_sidebar,
      &_main {
        width: 100%;
      }
    }
  }
}

body {
  a,
  .a-btn__link {
    color: @link-text;
    &:hover {
      color: @link-text-hover;
    }
  }
}

::-ms-clear {
  display: none;
}
