@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts/index' as *;
@use '@cfpb/cfpb-design-system/src/base/index' as *;
@use '@cfpb/cfpb-design-system/src/index' as *;
@use '@cfpb/cfpb-design-system/src/utilities' as *;


/* ==========================================================================
   Color variables
   ========================================================================== */

///////////////////////////////////////////////////////////////////////////////
// theme overrides


///////////////////////////////////////////////////////////////////////////////
// Application variables

$gutter-minimum: math.div($grid-gutter-width, 6);
$gutter-narrow: math.div($grid-gutter-width, 3);
$gutter-normal: math.div($grid-gutter-width, 2);
$gutter-wide: $grid-gutter-width * 1.5;
$bucket-indent: $grid-gutter-width;
$max-count-width: 65px;

///////////////////////////////////////////////////////////////////////////////
// Device Definitions

$superwide: 'only screen and (min-width: 1800px)';
$desktop: 'only screen and (min-width: 901px)';
$tablet: 'only screen and (min-width: 600px) and (max-width: 900px)';
$tablet-lg: 'only screen and (min-width: 750px) and (max-width: 900px)';
$tablet-sm: 'only screen and (min-width: 600px) and (max-width: 749px)';
$phone: 'only screen and (max-width: 599px)';
