@import (reference) '@cfpb/cfpb-design-system/src/cfpb-design-system.less';

/* ==========================================================================
   Capital Framework
   Color variables
   ========================================================================== */

///////////////////////////////////////////////////////////////////////////////
// Capital Framework theme overrides

// Sizing variables

@base-font-size-px: 16px;
@base-line-height-px: 22px;
@base-line-height: unit(@base-line-height-px / @base-font-size-px);

@size-xl: 48px; // Super-size
@size-i: 34px; // h1-size
@size-ii: 26px; // h2-size
@size-iii: 22px; // h3-size
@size-iv: 18px; // h4-size
@size-v: 14px; // h5-site
@size-vi: 12px; // h6-size

// Font variables

@webfont-regular: 'AvenirNextLTW01-Regular';
@webfont-italic: 'AvenirNextLTW01-Italic';
@webfont-medium: 'AvenirNextLTW01-Medium';
@webfont-demi: 'AvenirNextLTW01-Medium';

// Color variables

// body
@text: var(--black);

// a
@link-text: var(--pacific);
@link-underline: var(--pacific);
@link-text-visited: var(--teal-dark);
@link-underline-visited: var(--teal-dark);
@link-text-hover: var(--pacific-60);
@link-underline-hover: var(--pacific-60);
@link-text-active: var(--navy-dark);
@link-underline-active: var(--navy-dark);

// input
@input-bg: var(--white);
@input-border: var(--gray-80);
@input-border-focus: var(--pacific);
@input-placeholder: var(--gray-60);

// Color variables
// .btn
@btn-text: var(--white);
@btn-bg: var(--pacific);
@btn-bg-hover: var(--pacific-80);
@btn-bg-active: var(--navy);

// .btn__secondary
@btn__secondary-text: var(--white);
@btn__secondary-bg: var(--gray-80);
@btn__secondary-bg-hover: var(--gray-60);
@btn__secondary-bg-active: var(--gray-dark);

// .btn__warning
@btn__warning-text: var(--white);
@btn__warning-bg: var(--red);
@btn__warning-bg-hover: var(--red-80);
@btn__warning-bg-active: var(--red-dark);

// .btn__disabled
@btn__disabled-text: var(--gray-80);
@btn__disabled-bg: var(--gray-10);
@btn__disabled-outline: var(--gray-10);

// Sizing variables
// .btn
@btn-font-size: 14px;
@btn-v-padding: 8px;

// Color variables
// .error
@input-error: var(--red);

// warning
@input-warning: var(--gold);

// .success
@input-success: var(--green);

// .disabled
@input-disabled: var(--gray-10);

// .form-label-helper-text
@label-helper: var(--gray-dark);

// Sizing variables

@grid_wrapper-width: 1230px;
@grid_gutter-width: 30px;
@grid_total-columns: 12;
@grid_debug: false;

// Color variables
// .block
@block__bg: var(--gray-10);
@block__border: var(--gray-40);
@block__border-top: @block__border;
@block__border-right: @block__border;
@block__border-bottom: @block__border;
@block__border-left: @block__border;

// .content__main
@content__main-border: var(--gray-40);

// Color variables
@pagination-text: var(--gray-80);
@pagination-bg: var(--gray-10);

// Color variables
// .pull-quote
@pull-quote_body: var(--black);
@pull-quote_citation: var(--gray-80);

///////////////////////////////////////////////////////////////////////////////
// Application variables

@gutter-minimum: @grid_gutter-width / 6;
@gutter-narrow: @grid_gutter-width / 3;
@gutter-normal: @grid_gutter-width / 2;
@gutter-wide: @grid_gutter-width * 1.5;

@bucket-indent: @grid_gutter-width;
@max-count-width: 65px;

///////////////////////////////////////////////////////////////////////////////
// Device Definitions

@superwide: ~'only screen and (min-width: 1800px)';
@desktop: ~'only screen and (min-width: 901px)';
@tablet: ~'only screen and (min-width: 600px) and (max-width: 900px)';
@tablet-lg: ~'only screen and (min-width: 750px) and (max-width: 900px)';
@tablet-sm: ~'only screen and (min-width: 600px) and (max-width: 749px)';
@phone: ~'only screen and (max-width: 599px)';
