{% extends 'ccdb5_ui/ccdb_base_responsive.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block title %}Search the Consumer Complaint Database{% endblock %}

{% block content %}
<div class="wrapper wrapper__match-content">
  <div class="content_full" id="root"></div>
</div>
{% endblock %}

{% block page_js %}
  <script src="{% static "ccdb5.min.js" %}" type="text/javascript"></script>
  <script type="text/javascript">
    ReactDOM.render(
      React.createElement(ccdb5_ui.App, {}, null),
      document.getElementById('root')
    );
  </script>
{% endblock %}

{% block app_js %}
{% endblock %}
