{% extends 'ccdb5_ui/ccdb_base_responsive.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block title %}Search the Consumer Complaint Database{% endblock %}

{% block content %}
<noscript>
  <style type="text/css">
    .js-error-warning {
        display: block;
        width: 100%;
        padding: 1em;
        border-bottom: 2px solid #e79e8e;
        margin-top: 0;
        position: absolute;
        top: 0;
        background-color: #f7e0d9;
        font-family: 'AvenirNextLTW01-Regular',Arial,sans-serif;
        z-index: 999999;
     }
    h2 {
        font-family: 'AvenirNextLTW01-Demi',Arial,sans-serif;
        font-size: 18px;
    }     
  </style>
  <div class="js-error-warning">
      <h2>You must have JavaScript to use the tools on this page.</h2>
      To improve your experience, please
      <a href="http://www.enable-javascript.com/" class="go-link">
        enable JavaScript in your browser
      </a>
  </div>
</noscript>
<div class="wrapper wrapper__match-content">
  {% if unsupported_browser %}
    <div class="js-error-warning">
        <h2>A more up-to-date browser is required to use the tools on this page.</h2>
    </div>
  {% else %}
    <div class="content_full" id="root"></div>
  {% endif %}
</div>
{% endblock %}

{% block page_js %}
  <script src="{% static "ccdb5.min.js" %}" type="text/javascript"></script>
  <script type="text/javascript">
    function browserSupportsAllFeatures() {
      return window.Set && window.Promise && window.fetch
    }

    if (browserSupportsAllFeatures()) {
      // Browsers that support all features run `main()` immediately.
      main()
      console.log('browser supports all features')
    } else {
      // All other browsers loads polyfills and then run `main()`.
      loadScript('https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Intl.~locale.en', main)
    }

    function main(err) {
      // Initiate all other code paths.
      // If there's an error loading the polyfills, handle that
      // case gracefully and track that the error occurred.
    }

    function loadScript(src, done) {
      var js = document.createElement('script');
      js.src = src;
      js.onload = function() {
        done();
      };
      js.onerror = function() {
        done(new Error('Failed to load script ' + src));
      };
      document.head.appendChild(js);
    }

    function main(err) {
      if ( err ) {
        alert('There was a problem on the page: ', err)
      } else {
        ReactDOM.render(
          React.createElement(ccdb5_ui.App, {}, null),
          document.getElementById('root')
        );
      } 
    }
  </script>
{% endblock %}

{% block app_js %}
{% endblock %}
