@use 'sass:math';
@use 'css/base' as *;

.pill-panel {
  padding-right: $gutter-narrow;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;

  .layout-row {
    display: inline-flex;
    align-items: baseline;
    gap: $gutter-narrow;
  }

  .clear-all {
    button {
      margin-left: $gutter-narrow;
      align-items: baseline;

      svg {
        position: relative;
        top: 3px;
      }
    }
  }

  .pill-label {
    padding-right: $gutter-normal;
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    position: relative;
    vertical-align: baseline;
  }

  ul {
    padding-top: $gutter-narrow;
    margin: 0;
  }

  @media screen and (max-width: $layout-breakpoint-phone-max) {
    flex-direction: column;
    margin-top: 70px;
    .layout-row {
      padding-left: 0;
    }
    .clear-all {
      display: block;

      button {
        margin: 0;
      }
    }
  }
}
