@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.pill {
  padding: math.div($grid-gutter-width, 3) 30px math.div($grid-gutter-width, 3) math.div($grid-gutter-width, 3);
  background-color: var(--teal-20);
  border: 1px solid var(--teal-40);
  margin-right: 4px;
  border-radius: 0.28571429em;
  font-weight: 500;
  color: var(--black);
  font-size: $size-v;
  &:hover {
    background-color: var(--teal-30);
    border-color: var(--teal-50);
    cursor: pointer;
  }

  // Close button
  button,
  .cf-icon-svg {
    padding: 0;
    padding-left: 5px;
    border: 0;
    margin: 0;
    background-color: transparent;
    color: var(--teal-80);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
