@use 'css/base' as *;
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;

.pill-panel {
  padding-right: $gutter-narrow;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;

  .pill-panel__list {
    margin: 0;
  }

  .pill-panel__clear {
    button {
      margin-left: $gutter-narrow;
      align-items: baseline;

      svg {
        position: relative;
        top: 3px;
      }
    }
  }

  .pill-label {
    padding-right: $gutter-normal;
    margin-bottom: 0;
  }

  ul {
    padding-top: $gutter-narrow;
    margin: 0;
  }

  @media screen and (max-width: $bp-xs-max) {
    flex-direction: column;
    margin-top: 70px;
    .pill-panel__clear {
      display: block;

      button {
        margin: 0;
      }
    }
  }
}
