@use 'css/base' as *;

.pill-panel {
  padding-right: $gutter-narrow;

  .pill-panel__list {
    margin: 0;
  }

  .override {
    padding-right: 0;
    padding-left: 0;
    border: 0;

    p {
      padding-top: 4px;
    }
  }

  .pill-panel__clear button {
    position: relative;
    top: 1px;
    padding: 4px 0;
    line-height: 1.1875;
  }

  .pill-label {
    p {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: $bp-xs-max) {
    margin-top: 70px;

    .pill-panel__clear {
      display: block;
    }
  }
}
