@use 'css/base' as *;

.pill-panel {
  margin-top: $grid-gutter-width;
  padding-right: $gutter-narrow;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;

  &__list {
    margin: 0;
  }

  &__clear {
    button {
      margin-left: $gutter-narrow;
      align-items: baseline;

      svg {
        position: relative;
        top: 3px;
      }
    }
  }

  &__label {
    flex: none;
    padding-right: $gutter-normal;
    margin-bottom: 0;
  }

  ul {
    padding-top: $gutter-narrow;
    margin: 0;
  }

  @media screen and (max-width: $bp-xs-max) {
    flex-direction: column;

    &__clear {
      display: block;

      button {
        margin: 0;
      }
    }
  }
}
