@use 'node_modules/@cfpb/cfpb-design-system/src/abstracts' as *;
@use 'node_modules/@cfpb/cfpb-design-system/src/base' as *;
@use 'node_modules/@cfpb/cfpb-design-system/dist/index.css' as *;
@import '../../css/base';

.search-panel {
  padding: $grid-gutter-width;
  border-right: 1px solid var(--gray-40);

  @media screen and (min-width: $layout-breakpoint-desktop-min) {
    padding: $grid-gutter-width;
  }

  @media screen and (max-width: $layout-breakpoint-phone-max) {
    padding: $gutter-narrow;
    min-height: 150px;
  }
  background-color: var(--gray-5);
}

.date-subscript {
  font-size: $base-font-size-px;
  color: var(--gray);
}
