@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use 'css/base' as *;

.search-status {
  margin: 0 0 $grid-gutter-width;

  @media screen and (max-width: $bp-xs-max) {
    margin-bottom: $gutter-normal;
  }
}

.action-bar {
  margin: 0;
}
