@import (less) "../base.less";

.aggregation-branch {
  li.parent {
    -webkit-align-items: baseline;
            align-items: baseline;

    .toggle {
      max-width: ~"calc(100% - 95px)";  // @max-count-width + @bucket-indent
      padding-left: @bucket-indent;
      text-indent: -1 * @bucket-indent;

      font-size: @size-iv;
      font-weight: normal;

      button {
        text-align: left;
        vertical-align: top;
      }

      .a-btn__link {
        border: 0;

        color: @pacific;
      }

      &.a-label::before {
        box-sizing: border-box;
        width: 20px;
        height: 20px;

        text-indent: 0;
      }

      .cf-icon {
        padding-left: @gutter-minimum;

        color: @pacific;
      }
    }

    .parent-count {
      width: @max-count-width;
      text-align: right;
    }    
  }

  ul.children {
    padding-left: @gutter-normal * 1.5;
  }
}
