@import (less) "../base.less";

.aggregation {
    ul {
        padding-left: 0;

        li {
            padding: 0;
            border: 0;
            margin-bottom: @gutter-narrow;

            input[type='checkbox'] {
            }

            .bucket-key {
                padding-left: @gutter-normal;
            }

            .bucket-count {
                text-align: right;
            }
        }
    }
}
