@import (less) "../base.less";

.collapsible-filter {
    h5 {
        max-width: ~"calc(100% - 55px)";
    }

    .toggle {
        .cf-icon {
            padding-left: @gutter-minimum;

            color: @pacific;
        }
    }
}