@import (less) "../base.less";

.o-expandable {
  h4 {
    max-width: ~"calc(100% - 55px)";
    box-sizing: border-box;
    padding-right: @gutter-minimum;
  }

  .o-expandable_cue {
    &.a-btn__link {
      border: 0;

      font-size: @size-v;
    }

    .cf-icon {
      padding-left: @gutter-minimum;
    }
  }

  p {
    color: @gray;
    font-size: 16px;
  }
}