@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/utilities' as *;
@use 'css/base' as *;

.export-modal {
  .body {
    .a-btn__icon {
      padding-right: $gutter-minimum;
    }

    .export-url-copied {
      border: solid 1px var(--green);
      border-left: 0;

      background-color: var(--green-20);
      color: var(--black);

      .cf-icon-svg {
        fill: var(--green);
      }
    }

    .instructions {
      margin-bottom: $gutter-normal;
    }

    fieldset {
      margin-bottom: $gutter-normal;
    }

    .export-tabs {
      margin-bottom: $gutter-normal;

      .export-tab {
        background-color: var(--pacific-20);
        color: var(--black);

        &.selected {
          background-color: var(--pacific-60);
          font-weight: 600;
        }
      }
    }

    .monthly-download-empty,
    .timeliness-warning {
      margin-bottom: $gutter-normal * 1.5;
      color: var(--gray);
      font-size: smaller;
    }

    .monthly-download-empty {
      font-style: italic;
    }

    .monthly-download-list {
      max-height: 300px;
      margin: 0;
      padding: 0;
      overflow-y: auto;
      list-style: none;

      li {
        padding: $gutter-minimum 0;
        border-bottom: 1px solid var(--gray-10);

        &:last-child {
          border-bottom: none;
        }
      }

      .monthly-download-filename {
        margin-top: 2px;
      }

      a {
        color: var(--pacific);
        text-decoration: underline;
        word-break: break-all;

        &:hover,
        &:focus {
          color: var(--navy-dark);
        }
      }
    }
  }
}
