@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/utilities' as *;
@use 'css/base' as *;

.export-modal {
  .body {
    .a-btn__icon {
      padding-right: $gutter-minimum;
    }

    .export-url-copied {
      border: solid 1px var(--green);
      border-left: 0;

      background-color: var(--green-20);
      color: var(--black);

      .cf-icon-svg {
        fill: var(--green);
      }
    }

    .instructions {
      margin-bottom: $gutter-normal;
    }

    .group {
      margin-bottom: $gutter-normal;

      .group-title {
        margin: $gutter-normal 0;
        font-size: $size-iv;
        font-weight: bold;
      }

      .m-form-field {
        margin-bottom: $gutter-normal;

        .multiline-label {
          display: inline-block;
        }
      }

      .other-formats {
        margin-top: $gutter-normal * 1.5;
      }

      .required-helper {
        color: var(--gray);
      }
    }

    .timeliness-warning {
      margin-bottom: $gutter-normal * 1.5;

      font-size: smaller;
    }
  }
}
