@use 'css/base' as *;

.date-filter {
  h4 {
    margin-bottom: 0;
  }

  ul.date-inputs {
    margin: 0;

    li {
      display: inline-block;
      width: calc(50% - 8px); // Half $gutter-normal

      list-style: none;

      &:first-of-type {
        margin-right: $gutter-normal;
      }
      input {
        width: 100%;
      }
    }
  }

  ul.messages {
    padding-top: $gutter-narrow;

    li {
      margin: 0;

      list-style: none;
    }
  }
}
