@use 'css/base' as *;

.filter-panel-toggle {
  @media screen and (min-width: $layout-breakpoint-superwide-min) {
    display: none;
  }

  @media screen and (min-width: $layout-breakpoint-desktop-min) {
    display: none;
  }

  @media screen and (min-width: $layout-breakpoint-tablet-lg-min) and (max-width: $layout-breakpoint-tablet-lg-max) {
    display: none;
  }

  @media screen and (min-width: $layout-breakpoint-tablet-sm-min) and (max-width: $layout-breakpoint-tablet-sm-max) {
    display: block;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    & .a-btn {
      width: 100%;
    }
  }

  @media screen and (max-width: $layout-breakpoint-phone-max) {
    display: block;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    & .a-btn {
      width: 100%;
    }
  }
}
