@use 'css/base' as *;

.filter-panel-toggle {
  margin-top: 30px;

  @media screen and (min-width: $bp-sm-min) and (max-width: $bp-sm-max) {
    display: none;
  }

  @media screen and (min-width: $bp-med-min) {
    display: none;
  }

  @media screen and (min-width: $bp-xs-max) and (max-width: $bp-sm-max) {
    display: block;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    & .a-btn {
      width: 100%;
    }
  }

  @media screen and (max-width: $bp-xs-max) {
    display: block;
    width: 90vw;
    & .a-btn {
      width: 100%;
    }
  }
}
