@import (less) "base.less";
@import (less) "select.less";

.action-bar {
  border: 1px solid @gray-40;
  border-left: 0; // Don't double the border with the filters
  background-color: @green-20;
  padding: @gutter-normal @grid_gutter-width;

  h2 {
    margin: 0;
    @media @phone {
      padding: @gutter-normal;
    }
  }

  .export-results {
    padding-top: @gutter-minimum;
    margin: 0;
    margin-bottom: @gutter-minimum;
    .a-btn {
      border-bottom: dotted 1px @dark-pacific;
      color: @dark-pacific;
      font-size: @size-v;
      &:hover {
        color: @link-text-hover;
      }
    }
  }
}
