@import (less) "~capital-framework/src/capital-framework.less";
@import (less) "base.less";

// App-wide definitions

.layout-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.layout-column {
    display: flex;
    flex-direction: column;
}

.flex-fixed {
    flex: none;
}

.flex-all {
    flex: 1 0 auto;
}

.cols {
    .grid_nested-col-group();
}

.col:before {
    display: block;

    width: 100%;
    content: "";
}

.col-1 {
    .grid_column( 1 );
}

.col-2 {
    .grid_column( 2 );
}

.col-3 {
    .grid_column( 3 );
}

.col-4 {
    .grid_column( 4 );
}

.col-6 {
    .grid_column( 6 );
}

.col-8 {
    .grid_column( 8 );
}

.col-9 {
    .grid_column( 9 );
}

.col-10 {
    .grid_column( 10 );
}

.col-12 {
    .grid_column( 12 );
}

// This component specific

.refine-panel {
    height: 400px;
    padding: @gutter-normal;
    border: 2px dashed @gray-40;
    margin-top: @gutter-normal;
    margin-bottom: @gutter-normal;
}

.content {
    margin-top: @gutter-normal;
    margin-bottom: @gutter-normal;
}

.cards-panel {
    padding: 0;
    margin: 0;
}

summary {
    margin-top: @gutter-normal;
    margin-bottom: @gutter-normal;
}