@import (less) "base.less";

.map-panel {
  h2 {
    padding: @gutter-normal;
  }

  h4 {
    border: none;
  }
  .refine {
    section {
      margin: 10px;
      p {
        font-size: @size-vi;
        font-weight: 600;
        color: @gray-40;
      }
    }
  }
}
