@import (less) "base.less";

.map-toolbar {
  border-top: 1px solid @gray;
  a {
    color: @link-text;
    text-decoration: underline;
  }
  .state-heading {
    border-bottom: 1px solid @gray;
  }

  .state-navigation {
  }
}
