@import (less) "base.less";

.per-capita {
  button {
    @media @phone {
      > span {
        display: none;
      }
    }
    color: @black;
    &:not(.a-btn__disabled) {
      background-color: @pacific-80;
    }
    &.deselected {
      background-color: @pacific-40;
    }
  }
}
