@import (less) "base.less";

.pill-panel
{
  padding-right: @gutter-narrow;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;

  .clear-all {
    button {
      border-color: @dark-red;
      color: @dark-red;
    }
  }

  .pill-label {
    padding-right: @gutter-normal;
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    margin-top: @gutter-narrow;
  }

  ul {
    padding-top: @gutter-narrow;
  }
}