@import (less) "base.less";

.pill {
    padding:  3px @grid_gutter-width/1.5 3px 5px;
    border-radius: 8px;
    margin-right: @gutter-normal;
    background-color: @gray-20;
    color: @black;
    font-face: webfont-regular();
    font-size: @size-v;

    button {
    padding: 0;
    padding-left: 5px;
    border: 0;
    border-left: 1px solid @gray-20;
    margin: 0;
    background-color: transparent;
    color:@black;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
      &:hover,
      &:active {
        background-color: @gray-40;
      }
    }
}
