@import (less) "base.less";

.searchBar {
    padding: @gutter-normal;
    border: 1px solid @gray-40;
    border-bottom: 0;  // Don't double the border with the content

    background-color: @gray-5;

    .btn {
        background-color: @gray-80;
        color: @white;
    }

    .btn.primary {
        background-color: @pacific;
        color: @white;
    }

    input[type=text] {
        width: 80%;

        &::placeholder {
            color: @gray;
        }
    }
}
