@import (less) "base.less";

.search-bar {
  .cf-select {
    display: flex;

    background-color: @gray;
    flex-direction: column;
    justify-content: center;

    select {
      background-color: @gray;
      color: @white;

      &:focus {
        outline: none;
      }
    }

    &:after {
      color: @white;
    }
  }

  .typeahead {
    padding-bottom: 0;
  }

  h5 {
    margin-bottom: @gutter-minimum;
  }

  input[type=text] {
    box-sizing: border-box;
    height: 100%;

    &::placeholder {
        color: @gray;
    }
  }
}
