.map-toolbar {
  border-top: 2px solid var(--gray-20);
  border-bottom: 1px solid var(--gray-20);
  margin: 0 20px;

  .state-heading {
    padding: 0.625rem;
    border-bottom: 1px solid var(--gray-20);

    span {
      margin: 0.625rem;
    }
  }

  .state-navigation {
    padding: 0.625rem;
  }
}
