@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use 'css/base' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  // gray-dark #43484e in hex.
  --faded-gray-dark: 67, 72, 78;
  background-color: rgb(var(--faded-gray-dark), 0.75);
}

.modal-body {
  max-width: 480px;
  max-height: 100%;
  padding: 0;
  border: 1px solid var(--gray-dark);
  border-top: 12px solid var(--green);
  border-radius: 4px;
  margin: $gutter-wide;
  overflow: auto;
  background: var(--white);
  outline: none;

  .header {
    padding: $gutter-normal;
    padding-bottom: 0;

    align-items: flex-start;

    .a-btn--link {
      border: 0;
    }

    .cf-icon-svg {
      padding-left: $gutter-minimum;
    }
  }

  .body {
    padding: 0 $gutter-normal;

    p:last-of-type {
      margin-bottom: $gutter-normal;
    }
  }

  .footer {
    padding: $gutter-normal;

    background-color: var(--gray-5);
    align-items: baseline;

    button {
      margin-right: $gutter-normal;

      &.a-btn--link {
        height: $size-iv;
      }
    }
  }
}
