{% extends ccdb5_base_template %}
{% load staticfiles %}
<!--  Based on https://github.com/cfpb/complaint/blob/master/complaint_common/templates/base_responsive.html -->
{% block nemo_styles %}

{% endblock %}


{% block page_css %}

{% endblock %}

{% block page_viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block responsive_nav %}
<a class="toggle-menu" href="#"><i class="cf-icon cf-icon-menu"></i><span class="u-visually-hidden">Menu</span></a>
{% endblock %}

{% block nemo_js %}
{% endblock %}

{% block page_js %}
{% endblock page_js %}

{% block app_js %}
{% endblock app_js %}
