@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use 'css/base' as *;

.action-bar {
  border: 1px solid var(--gray-40);
  border-left: 0; // Don't double the border with the filters
  background-color: var(--green-20);
  padding: $gutter-normal $grid-gutter-width;

  h2 {
    margin: 0;

    @media screen and (max-width: $layout-breakpoint-phone-max) {
      padding: $gutter-normal;
    }
  }

  .export-results {
    padding-top: $gutter-minimum;
    margin: 0;
    margin-bottom: $gutter-minimum;
    .a-btn {
      margin-right: $gutter-normal;
      font-size: $size-v;
      display: inline-block;

      svg {
        margin-right: $gutter-minimum;
      }
    }
  }

  .a-btn--link {
    color: var(--pacific-dark);

    &:hover {
      color: var(--navy);
    }

    &:focus {
      color: var(--pacific-dark);
      border: 1px dotted var(--pacific-dark);
    }

    &:active {
      color: var(--navy);
      border: 1px dotted var(--navy);
    }
  }

  @media screen and (max-width: $layout-breakpoint-phone-max) {
    padding-left: 0;
    border: 1px solid var(--gray-40);
    .export-results {
      margin-left: 15px;
    }
  }

  @media screen and (min-width: $layout-breakpoint-superwide-min){
    padding-left: 40px;
  }
}
