@use '../../TabbedNavigation/TabbedNavigation';

.trend-depth-toggle {
  background: var(--gray-10);
  text-align: center;
  display: flex;
  justify-content: center;

  button {
    margin: 5px;
    color: var(--pacific-dark);

    &.a-btn {
      gap: 0;
    }
  }

  span {
    font-weight: bold;
    margin-right: 5px;
    &.plus::before {
      content: '+';
    }

    &.minus::before {
      content: '-';
    }
  }
}
